
body{
     background-color: lightblue;


}


 h3 {
background-color: hotpink;
margin: 0;
text-align: center;
width: 50%;
margin:auto    
}

h1
{
margin: auto;
     text-align: center;
}

img
{
     margin-left: 1400px;


}
